* {
  margin: 0;
}
.app {
  display: flex;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}
