.contact__header > h1 {
  font-size: 40px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: Roboto;
  padding-top: 5%;
}

.contact__header > h4 {
  font-size: 20px;
  text-align: center;
  color: #fff;
  font-family: Roboto;
}
.contact__header > h4 > span {
  color: orange;
}

.contact__header {
  margin-bottom: 2%;
}

.contact__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.contact__phone > .MuiSvgIcon-root {
  color: #fff;
  padding: 10px;
  background-color: #fbbc05;
  border-radius: 50%;
  margin: 10px;
}
.contact__phone > .MuiSvgIcon-root:hover {
  transform: translateY(-10px);
}

.contact__phone > h3 {
  color: #fff;
  font-family: Roboto;
}
.contact__mail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.contact__mail a > .MuiSvgIcon-root {
  color: #fff;
  padding: 10px;
  background-color: #fbbc05;
  border-radius: 50%;
  margin: 10px;
  text-decoration: none;
}

.contact__mail a > .MuiSvgIcon-root:hover {
  transform: translateY(-10px);
}

.contact__mail > h3 {
  color: #fff;
  font-family: Roboto;
}
.contact__location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.contact__location a > .MuiSvgIcon-root {
  color: #fff;
  padding: 10px;
  background-color: #fbbc05;
  border-radius: 50%;
  margin: 10px;
}
.contact__location a > .MuiSvgIcon-root:hover {
  transform: translateY(-10px);
}

.contact__location > h3 {
  color: #fff;
  font-family: Roboto;
}
@media screen and (max-width: 450px) {
  .contact__container {
    flex-direction: column;
  }
}
