.contact {
  background-image: url("https://wallpapercave.com/wp/wp2665744.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
  height: 80vh;
}
.contact__header > h1 {
  font-size: 40px;
}
