.homePage {
  background-image: url("https://wallpaperbat.com/img/235380-chicken-afritada-spanish-style-chicken-stew-recipe-dark-wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
}
