.home {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  width: 80vw;
  height: 100%;
  padding-bottom: 30px;
}
