.homePage {
  background-image: url("https://www.teahub.io/photos/full/220-2208960_dark-blue-lines-4k-material-design-creative-geometric.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
}
