.home {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  background-image: url("https://wallpapercave.com/wp/wp2665744.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
  height: 100vh;
}
