.homePage {
  background-image: url("https://wallpapercave.com/wp/wp2665744.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
}
.homePage__details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homePage__details > h3 {
  color: #fff;
  font-family: Roboto;
  font-size: 35px;
}
