.homePage {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2ZfSlPRzBG27exGm4CxzgANg9fCjmHe7Oe6JtSlKeuLq4afQWj1zR7oD1w1XLMsVRzRU&usqp=CAU");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
}
