.home {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  background-image: url("https://wallpaperbat.com/img/235380-chicken-afritada-spanish-style-chicken-stew-recipe-dark-wood.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 80vw;
  height: 100%;
  padding-bottom: 30px;
}
