.projects {
  background-image: url("https://wallpapercave.com/wp/wp2665744.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
  height: 100vh;
}
.projects > h1 {
  color: #fff;
  font-size: 30px;
  font-family: Redressed;
  text-align: center;
  margin-top: 10px;
}
.projects > h3 {
  color: #fff;
  text-align: center;
  padding-top: 10px;
}
.projects > h3 > span {
  color: orange;
  font-family: Redressed;
}
