@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.2;
  background-color: #f13b3b;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.sidebar__photo > img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 7px solid yellow;
}
.sidebar__photo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
}

.sidebar__photo > h2 {
  font-family: Redressed;
  font-size: 30px;
  padding-top: 10px;
}

.sidebar__photo > h4 {
  font-family: Redressed;
  font-size: 20px;
}

.sidebar__option {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
  line-height: 2.4;
}

.sidebar__option > span {
  font-size: 30px;
  font-family: "Redressed", cursive;
  text-align: start;
  font-weight: 500;
}
.sidebar__option > span:hover {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  color: #fff;
}
