.sidebar {
  display: flex;
  flex: 0.3;
  background-color: #8a8aff;
  height: 100vh;
}
.sidebar__option {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.sidebar__option > span {
  font-size: 25px;
  font-family: Roboto;
  padding-top: 60px;
  text-align: center;
}
