@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
.sidebar {
  display: flex;
  flex: 0.2;
  background-color: #6051e4;
  height: 100vh;
}

.sidebar__option {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
  line-height: 1.8;
}

.sidebar__option > span {
  font-size: 30px;
  font-family: "Redressed", cursive;
  text-align: start;
  font-weight: 500;
}
.sidebar__option > span:hover {
  cursor: pointer;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  color: #fff;
}
