.skills {
  background-image: url("https://wallpapercave.com/wp/wp2665744.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
  height: 100vh;
  padding-bottom: 13%;
  padding-top: 5%;
}

.skills__header > h1 {
  color: #fff;
  font-family: Redressed;
  text-align: center;
}
.skills__header > h3 {
  color: #fff;
  font-family: Redressed;
  text-align: center;
}
.skills__header > h3 > span {
  color: orange;
}
.skills__content > img {
  height: auto;
  width: auto;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}
.skills__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills__content > img:hover {
  transform: scale(1.5);
}
