.skills {
  padding-bottom: 10%;
  padding-top: 3%;
}

.skills__header > h1 {
  color: #fff;
  font-family: Redressed;
  text-align: center;
}
.skills__header > h3 {
  color: #fff;
  font-family: Redressed;
  text-align: center;
}
.skills__header > h3 > span {
  color: orange;
}
.skills__content > img {
  height: 105px;
  width: auto;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.2s;
}

.skills__content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills__content > img:hover {
  transform: scale(1.5);
}
