.skills {
  background-image: url("https://wallpapercave.com/wp/wp2665744.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80vw;
  height: 100vh;
}
.skills__header > h1 {
  color: #fff;
  font-family: Redressed;
  text-align: center;
}
.skills__header > h3 {
  color: #fff;
  font-family: Redressed;
  text-align: center;
}
.skills__header > h3 > span {
  color: orange;
}
.skills__content > img {
  height: 100px;
  width: 100px;
  background-color: #fff;
  padding: 10px;
}
