.card__content > label {
  font-family: Redressed;
  font-size: 20px;
  display: grid;
  width: 55%;
  grid-template-columns: repeat(6, 1fr);
}
.card__content {
  text-align: start;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
